@model ExposurePresenter.Web.Models.ExposurePresenterViewModel
<style type="text/css">

    .filter {
       float: left; 
       width: 50%
    }

    .filter-title {
        padding-left: 4px
    }
</style>
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script>
    $.postJSON = function (url, dataa, func) {
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            success: function (data) {
                func(data);
            },
            data: dataa
        });
    };
    
    
    $(function() {
        $('#brands-select').change(function() {
            $('#filterForm').submit();
        }).multipleSelect({
            width: '100%',
        });

        $('#discipline-select').change(function() {
            $('#filterForm').submit();
        }).multipleSelect({
            width: '100%'
        });
        
        $('#branch-select').change(function () {
            $('#filterForm').submit();
        }).multipleSelect({
            width: '100%'
        });
        $('#months-select').change(function() {
            $('#filterForm').submit();
           
        }).multipleSelect({
            width: '100%'
        });
    });

    function callForGraphJason() {
        jQuery.ajaxSettings.traditional = true;
        $.postJSON('@Url.Action("GetGraphJason")',
            {
                selectedBrands: $('#brands-select').multipleSelect('getSelects'),
                selectedDisciplines: $('#discipline-select').multipleSelect('getSelects')
            },
            callback);
    }

    function callback(data) {
        refreshGraph(data);
    }
</script>

    @using (Ajax.BeginForm(
        "FilterRecords",
        "ExposureRecords",
        new AjaxOptions() { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "exposureRecords", OnSuccess = "callForGraphJason()" },
        new { @id = "filterForm" }))
    {
       
            <div class="filter">
                <div class="filter-title">
                    Marka:
                </div>
            
                    <select id="brands-select" name="brands" multiple="multiple">
                        @{
        foreach (var item in Model.Brands)
        {
            <option value="@item">@item</option>
        }
                        }
                    </select>

                </div>
      




        <div class="filter" style="float: left; width: 50%">
            <div class="filter-title">
                Dyscyplina:
            </div>
           
                
            <select id="discipline-select" name="disciplines" multiple="multiple">
                @{
        foreach (var item in Model.Disciplines)
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
               
        </div>



        <div class="filter">
            
            <div class="filter-title">
                Branża:
            </div>
            <select id="branch-select" name="branches" multiple="multiple">
                @{

                    foreach (var item in Model.Branches)
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
        </div>

        <div class="filter">
            
            <div class="filter-title">
                Miesiąc:
            </div>
            <select id="months-select" name="months" multiple="multiple">
                <option value="Styczeń">Styczeń</option>
                <option value="Luty">Luty</option>
                <option value="Marzec">Marzec</option>
                <option value="Kwiecień">Kwiecień</option>
                <option value="Maj">Maj</option>
                <option value="Czerwiec">Czerwiec</option>
                <option value="Lipiec">Lipiec</option>
                <option value="Sierpień">Sierpień</option>
                <option value="Wrzesień">Wrzesień</option>
                <option value="Październik">Październik</option>
                <option value="Listopad">Listopad</option>
                <option value="Grudzień">Grudzień</option>
            </select>

        </div>
    }
    @Html.Partial("_GraphAndTable", Model)

